{% extends "base.html" %}

{% load static %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block customstylesheets %}
  <link rel="stylesheet" href="{% static 'css/password_reset_from_key_done.css' %}">
{% endblock customstylesheets %}

{% block content %}
  <div class="change_password_done">
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
    <a class="btn" href="{% url 'account_login' %}">Sign In</a>
  </div>
{% endblock %}