{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block customstylesheets %}
  <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock customstylesheets %}

{% block content %}
  <div class="container">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset-form" novalidate>
      {% csrf_token %}
      <h1>{% trans "Password Reset" %}</h1>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p class="password_reset-form__text">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

      {{ form.non_field_errors }}
      <div class="fieldWrapper">
          <label for="{{ form.email.id_for_label }}">E-mail:</label>
          {{ form.email }}
          {{ form.email.errors }}
      </div>

      <input type="submit" value="{% trans 'Reset My Password' %}" class="btn password_reset-form__btn" />
    </form>
  </div>
{% endblock content %}