{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block customstylesheets %}
  <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock customstylesheets %}

{% block content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change-form" novalidate>
      <h1>{% trans "Change Password" %}</h1>
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="fieldWrapper">
          <label for="{{ form.oldpassword.id_for_label }}">Current Password:</label>
          {{ form.oldpassword }}
          {{ form.oldpassword.errors }}
      </div>
      <div class="fieldWrapper">
          <label for="{{ form.password1.id_for_label }}">New Password:</label>
          {{ form.password1 }}
          {{ form.password1.errors }}
      </div>
      <div class="fieldWrapper">
          <label for="{{ form.password2.id_for_label }}">New Password (again):</label>
          {{ form.password2 }}
          {{ form.password2.errors }}
      </div>
      <button type="submit" name="action" class="btn">{% trans "Change Password" %}</button>
      <small class="password_change-form__links"><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></small>
    </form>
{% endblock %}