.password_reset-form {
  background: #fff;
  max-width: 448px;
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
  margin: 0 auto;
}
.password_reset-form h1 {
  font-weight: 400;
  margin-bottom: 0.25rem;
}
.password_reset-form__text {
  margin-bottom: 1rem;
  line-height: 1.4;
}
.password_reset-form #id_email {
  display: block;
  width: 100%;
  font-size: 1rem;
  background: #e2e8f0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
}
.password_reset-form .fieldWrapper {
  margin-bottom: 1rem;
}
.password_reset-form .errorlist {
  list-style: none;
  margin-top: 0.25rem;
  color: rgb(220, 53, 69);
}
.password_reset-form .errorlist.nonfield {
  margin-bottom: 0.25rem;
}
label[for='id_email'] {
  display: block;
  margin-bottom: 0.25rem;
}
.password_reset-form__btn {
  background: #0f1111;
}
.password_reset-form__btn:hover {
  opacity: 0.7;
}
